/*
.titulo
{
    font-weight: bold;
    text-align: center;
    background-color: #333333;
    color: #bbbbbb

}

.celda
{

    border: 1px solid #535353;
    text-align: center;

}
*/